.project-image-container {
	height: 60vh;
	width: 100%;
}
.project-left-side {
	height: inherit;
}
#project-section {
	opacity: 0;
}
.project-wrapper {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	.project-left-side {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: center;
		.project-title {
			width: 100%;
		}
		.project-image {
			width: 100%;
		}
	}
	.project-right-side {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: center;
		.project-right-side-wrapper {
			height: 50vh;
			font-size: clamp(10px, 1em, 2em);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.project-title {
			width: 100%;
		}
		.project-image {
			width: 100%;
		}
		.project-technologies {
			display: flex;
			flex-wrap: wrap;
			font-size: 1rem;
		}
		.project-links {
			display: flex;
			a {
				margin-right: 2em;
			}
		}
		.project-links p {
			text-decoration: underline;
			color: var(--text-color);
			&:hover {
				opacity: 0.8;
				cursor: pointer;
			}
		}
	}
}

.projects-wrapper {
	display: flex;
	flex-wrap: nowrap;
	width: max-content;
}
.projects-wrapper-3 {
	display: flex;
	flex-wrap: nowrap;
	width: max-content;
}
#project-section {
	max-width: 100% !important;
	.right-side {
		justify-content: center;
		overflow-x: hidden;
	}
	.left-side {
		z-index: 2;
	}
}
.project-left-side {
	width: 65%;
	padding-right: 5%;
}
.project-right-side {
	width: 30%;
	padding-right: 5%;
}
@media screen and (width < 780px) and (width > 500px) {
	.projects-wrapper {
		align-items: flex-end;
	}
	.project-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 2em;
		position: relative;
	}
	.project-left-side {
		height: 70%;
		justify-content: flex-end !important;
	}
	.project-right-side {
		width: 65%;
		height: 10%;
	}
	.project-right-side-wrapper {
		height: 100% !important;
		font-size: 20px;
		width: 100%;
		align-items: center;
	}
	.project-description {
		width: 100%;
		text-align: center;
		padding-bottom: 5%;
		font-size: 1.25em;
	}
	.project-links a {
		margin-right: 0 !important;
		margin-bottom: 2rem;
	}
	.project-links {
		position: absolute;
		flex-direction: column;

		right: 5%;
		top: 50%;
	}
	.project-technologies {
		// flex-direction: column;
		// width: 50%;
		display: none !important;
	}
}
@media screen and (width < 500px) {
	.projects-wrapper {
		align-items: flex-end;
	}
	.project-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 2em;
		position: relative;
	}
	.project-title {
		font-size: 2rem;
		margin-bottom: 12.5%;
		text-align: right;
	}
	.project-left-side {
		height: 70%;
		width: 90%;
		padding-right: 0;
		justify-content: flex-end !important;
	}
	.project-right-side {
		width: 65%;
		height: 10%;
	}
	.project-right-side-wrapper {
		height: 100% !important;
		font-size: 20px;
		width: 100%;
		align-items: center;
	}
	.project-description {
		width: 100%;
		text-align: center;
		padding-bottom: 5%;
		font-size: 1.25em;
	}
	.project-links a {
		font-size: 3rem;
		margin-right: 4rem !important;
		// margin-bottom: 2rem;
	}
	.project-links {
		position: absolute;
		right: 5%;
		top: 25%;
	}
	.project-image-container {
		width: 100%;
	}
	.project-technologies {
		// flex-direction: column;
		// width: 50%;
		display: none !important;
	}
}
