.page-section {
	// height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	// height: min-content !important;
	// transform: translate(0) !important;
	p,
	h1,
	h2,
	.text {
		font-family: var(--main-font-family);
		margin: 0;
	}
}
.section {
	font-family: var(--main-font-family);
}
.section.slide {
	width: 100%;
	height: 100%;
	max-width: 1660px;
}
.left-side {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	height: inherit;
	width: 50%;
}
.right-side {
	width: 50vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden !important;
	position: relative;
}
.anim-container {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
}
@media screen and (width < 780px) {
	// .anim-container {
	// 	flex-direction: column !important;
	// }
	.intro-section-wrapper {
		align-items: center;
	}
	// .about-section-wrapper {
	// 	align-items: center;
	// 	justify-content: flex-start;
	// }
}
// .projects-wrapper {
// 	-webkit-mask-image: linear-gradient(
// 		90deg,
// 		rgba(0, 0, 0, 0) 0%,
// 		rgba(0, 0, 0, 0) 46%,
// 		rgba(0, 0, 0, 1) 52%,
// 		rgba(0, 0, 0, 1) 53%,
// 		rgba(0, 0, 0, 1) 100%
// 	);
// }
