.about-section-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	// height: min-content !important;
	// transform: translate(0) !important;
	p,
	h1,
	h2,
	.text {
		font-family: var(--main-font-family);
		margin: 0;
	}
}
#about-section {
	width: 100%;
	max-width: 1660px;
	overflow: hidden;
}

.title {
	border-left: 2px solid orange;
}
.sub-title {
	// border-bottom: 2px solid orange;
	padding-top: 7.5%;
	font-style: italic;
	font-size: 4em;
}
.text {
	font-size: 3em;
}
// .text-wrapper {
// 	margin-bottom: 100%;
// 	// transform: translateY(-100%);
// }
