.about-section-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	// height: min-content !important;
	// transform: translate(0) !important;
	p,
	h1,
	h2,
	.text {
		font-family: var(--main-font-family);
		margin: 0;
	}
}
.about-anim-container {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
}
#about-section {
	width: 100%;
	max-width: 1660px;
	// overflow: hidden;
	// padding-top: 20%;
}

.title {
	border-left: 2px solid orange;
}
.sub-title {
	// border-bottom: 2px solid orange;
	padding-top: 7.5%;
	font-style: italic;
	font-size: 4em;
}
.text {
	font-size: 3em;
}
.text-wrapper {
	padding-bottom: 5em;
	padding-top: 5em;
}
// .text-wrapper {
// 	margin-bottom: 100%;
// 	// transform: translateY(-100%);
// }
.sub-title {
	top: 10%;
	// z-index: 4;
}

.left-side {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	height: inherit;

	width: 50%;
}
.title-wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
}
.title {
	padding-left: 0.5em;
	font-size: 5em;
}
.right-side {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.text-anim-box {
	margin-top: 25%;
	// z-index: 2;
	position: relative;
}
