@import url('/Styling/themes.scss');
@import url('/Styling/canvas.scss');
@import url('/Styling/breakpoints.scss');
@import url('/Styling/nav.scss');
@import url('/Styling/Sections/about.scss');
@import url('/Styling/Sections/intro.scss');
@import url('/Styling/Sections/project.scss');
@import url('/Styling/Sections/sections.scss');
html,
body {
	margin: 0;
	height: auto;
	background-color: var(--background-color);
	color: var(--text-color);
	overflow-x: hidden;
}

.html-tester {
	left: 0;
	// top: 25em;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 200px;
	// transform: translate(-50%, -50%) !important;
	font-size: 10em;
	div {
		height: 100%;
		.test-value {
			height: 40px !important;
		}
	}
}
